nav.navbar {
	position: absolute;
	z-index: 9500;
	width: 100%;
	width: 100vw;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

nav.navbar .navbar-nav li.active a:not(.btn) {
	color: #ad4c42 !important;
}

nav.navbar-fixed-top {
	z-index: 9499;
	top: 0;
	padding: 25px 0;
	opacity: 0;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
	color: #343434;
}

.navbar {
  top: 50px;
}

.navbar-brand>img {
  height: 50px;
  margin-top: -10px;
}

a {
  color: black;
}

.icon-bar {
	background: #bbb;
}

.header-content {
  padding-top: 175px;
}

.typed-cursor {
  font-size: 70px;
	display: inline-block;
	margin: 0 10px;
	color: #42acad;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.typed {
  display: inline-block;
  color: #ad4c42;
  font-size: 70px;
}

hr {
  border-color: #ad4c42;
  border-width: 3px;
  max-width: 60px;
}

@font-face {
  font-family: aparajita;
  src: url(../fonts/aparaj.ttf);
}

.header-text {
  color: #201f1f;
  font-size: 25px;
  font-family: aparajita;
}

.col-md-6 {
  padding-left: 0;
  padding-right: 0;
}

.left-skills {
  background-color: #42acad;
  height: 300px;
	padding: 40px 60px;
}

.info {
	height: 56px;
	margin-top: 12px;
}

@keyframes photoshopbar {
  from {width: 0%;}
  to {width: 100%;}
}

.photoshop-bar {
    border-style: solid;
		border-color: white;
    height: 30px;
    width: 75%;
    border-radius: 25px;
    border-width: 1px;
		display: inline-block;
		margin-left: 15px;
		vertical-align: middle;
}

.photoshop-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 23px;
    transition: width .4s ease-in-out;
    animation-name: photoshopbar;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;;
    animation-fill-mode: forwards;;
}

.photoshop span {
    background-color: white;
}

@keyframes illustratorbar {
  from {width: 0%;}
  to {width: 85%;}
}

.illustrator-bar {
    border-style: solid;
		border-color: white;
    height: 30px;
    width: 75%;
    border-radius: 25px;
    border-width: 1px;
		display: inline-block;
		margin-left: 15px;
		vertical-align: middle;
}

.illustrator-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 23px;
    transition: width .4s ease-in-out;
    animation-name: illustratorbar;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;;
    animation-fill-mode: forwards;;
}

.illustrator span {
    background-color: white;
}

@keyframes indesignbar {
  from {width: 0%;}
  to {width: 90%;}
}

.indesign-bar {
    border-style: solid;
		border-color: white;
    height: 30px;
    width: 75%;
    border-radius: 25px;
    border-width: 1px;
		display: inline-block;
		margin-left: 15px;
		vertical-align: middle;
}

.indesign-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 23px;
    transition: width .4s ease-in-out;
    animation-name: indesignbar;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;;
    animation-fill-mode: forwards;;
}

.indesign span {
    background-color: white;
}

/* Mobile Nav */
.mobile-nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	background: rgba(255, 255, 255, 0.98);
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.mobile-nav.active {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.mobile-nav ul {
	display: table-cell;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}

.mobile-nav ul li {
	margin: 25px 0;
}

.mobile-nav ul li a:not(.btn) {
	color: #aaa;
}

.mobile-nav a.close-link {
	font-size: 24px;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 10px);
	left: 0;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	background: #00a8ff;
}

.row.title {
	padding: 0 20px;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: bold;
}
